// mix(색1, 색2) : 색1과 색2를 섞은 색으로 나타납니다. 
// lighten(색, %) : 색1을 %만큼 밝게 만들어줍니다. 
// darken(색, %) : 색을 %만큼 어둡게 만들어줍니다.
// saturate(색, %) : 색상의 채도를 % 만큼 올립니다.
// desaturate(색, %) :  색상의 채도를 % 만큼 올립니다.
// grayscale(색) :  색상의 회색으로 변환합니다
// invert(색) : 색을 반전시킵니다.
// rgba(색, 알파값) : 알파값(0-1) 투명도 지정
// opacify(색,%) , fade-in(색,%) : 색상을 더 불투명하게 만듭니다.
// transparentize(색,%), fade-out(색,%) : 색상을 더 투명하게 만든다.

/* ---Color--- */
$dark:#121212;
$gray:#343434;
$light:#bbb;
$white:#fff;



/* ---공통--- */
html {background:$white;color:$gray;-ms-user-select:none; -moz-user-select:-moz-none; -webkit-user-select:none; -khtml-user-select:none; user-select:none;}


html.dark {background:$dark;color:$light;}

.contaion {position:relative;display:table;border-collapse:collapse;}
.onlineProfile {display:table-cell;width:50vw;height:100vh;background:#d5fff2;transition:all ease 1s 0s;}
.offlineProfile {display:table-cell;width:50vw;height:100vh;background:#d7e4ff;transition:all ease 1s 0s;}

.onlineProfile:hover {width:80vw;}
.offlineProfile:hover {width:80vw;}

.contaion > div:hover figcaption{opacity:1;}
.contaion > div:hover .line::before {width:80%;}
.contaion > div:hover .line::after {width:80%;}
.contaion > div:hover .line span::before {height:80%;}
.contaion > div:hover .line span::after {height:80.5%;}

figcaption{position:relative;width:100%; height:100%;background:rgba(0,0,0,0.7);opacity:0;transition:all 0.5s;}
a figcaption p{color:#fff;font-weight:bold;font-size:40px;text-align:center;line-height:300px;}

.line::before {content:"";position:absolute;background:rgba(255, 255, 255, 0.7);display:inline-block;transition:all 0.5s;left:10%;top:10%;width:0%;height:2px;}
.line::after {content:"";position:absolute;background:rgba(230, 230, 230, 0.7);display:inline-block;transition:all 0.5s;left:10%;top:90%;width:0%;height:2px;}
.line span::before {content:"";position:absolute;background:rgba(230, 230, 230, 0.7);display:inline-block;transition:all 0.5s;left:10%;top:10%;width:2px;height:0%;}
.line span::after {content:"";position:absolute;background:rgba(230, 230, 230, 0.7);display:inline-block;transition:all 0.5s;left:90%;top:10%;width:2px;height:0%;}