/* 메인페이지 */
.mainPage .profile .back {background:#ece6cc;}
.mainPage .profile .back .mainBanner {display:flex;width:100%;max-width:1920px;height:100vh;margin:0 auto;}
.mainPage .profile .back .mainBanner .profileTxt {display:flex;flex-direction:column;justify-content:center;width:50%;padding-left:30px;}
.mainPage .profile .back .mainBanner .profileTxt h2 {font-size:2.5rem;}

.mainPage .profile .content {width:calc(100% - 40px);max-width:1920px;height:50vh;margin:0 auto;padding:0 20px;}
.mainPage .profile .content h3 {font-size:1.7rem;}

// .mainPage .navMenu {position:fixed;top:260px;right:20px; width:50px;height:150px; background:#000;}

/* 사쿠나히메 */
.sakunaPage {padding:40px;
  h1 {font-size:2.4rem;padding-bottom:10px;}
  .content {
    h2 {font-size:1.4rem;padding-top:10px;
      + p {font-size:1.1rem;}
    }
    
    table {margin-top:10px;
      th, td {padding:6px;border:1px solid #bbb;
        .minus {color:#ff0000;}
      }
    }
  }
  .tip {margin-top:10px;
    > ul {
      > li {padding:3px 0;
        &:before {content:'-';padding-right:2px;}
      }
    }
  }
}