/* 메인페이지 */
.mainPage .profile .mainBanner {display:flex;width:100%;height:100vh;background:#2e2e2e;}
.mainPage .profile .mainBanner .profileTxt {display:flex;flex-direction:column;justify-content:center;width:50vw;padding-left:30px;}
.mainPage .profile .mainBanner .profileTxt h1 {font-size:2.5rem;}

.mainPage .profile .content {width:100%;height:50vh;}

/* 프로필 페이지 */


/* 사쿠나히메 */
.sakunaPage {padding:40px;
  h1 {font-size:2.4rem;padding-bottom:10px;}
  .content {
    h2 {font-size:1.4rem;padding-top:10px;
      + p {font-size:1.1rem;}
    }
    
    table {margin-top:10px;
      th, td {padding:6px;border:1px solid #bbb;
        .minus {color:#ff0000;}
      }
    }
  }
  .tip {margin-top:10px;
    > ul {
      > li {padding:3px 0;
        &:before {content:'-';padding-right:2px;}
      }
    }
  }
}