/* 메인페이지 */
.mainPage .profile {
  .back {background:$mainColor;
    .mainBanner {display:flex;width:100%;max-width:1920px;height:100vh;margin:0 auto;
      .profileTxt {display:flex;flex-direction:column;justify-content:center;width:50%;padding-left:2.2rem;
        h2 {font-size:2.5rem;}
      }
    }
  }
  .content {max-width:1920px;min-height:50vh;margin:0 auto;padding:1rem 1.7rem;background:$whiteColor;
    h3 {font-size:1.7rem;}
    &.aboutMe {position:relative;display: inline-block;
      .myOnlineImg {display:inline-block;width:21rem;height:30rem;overflow:hidden;
      }
      .about {border-collapse:separate;border-spacing:10px;
        td {background:#BAB09B;@include borderRadius(10px);width:100px;height:100px;}
      }
    }

  }
}

/* 서브페이지 공통 */
.subPage {max-width:calc(1920px - 80px);margin:0 auto;padding:40px;
  h1 {font-size:2.4rem;padding-bottom:10px;}
  .content {
    h2 {font-size:1.4rem;padding-top:10px;
      + p {font-size:1.1rem;}
    }
  }
}

/* 사쿠나히메 */
.sakunaPage {
  table {margin-top:10px;
    .minus {color:$redColor;}
  }
  .tip {margin-top:10px;
    > ul > li {padding:3px 0;
      &:before {content:'-';padding-right:2px;}
    }
  }
}

/* 아이돌마스터 */
.iMASPage {
  .basicTable {
    &.quick {
      span {
        &:not(:last-child):after {content:'|';padding-left:4px;}
      }
    }
  }

  .idolTabs {
    li {display:inline-block;cursor:pointer;
      span {position:relative;
        &:after {@include positionBL(absolute, 4px, 3px);min-width:6rem;padding:4px;background:$whiteColor;@include borderRadius(3px);font-size:0.8rem;@include centerJAText;@include boxShadow(5px, 6px, 18px, 0px, $grayColor);}
        &.haruka:after {content:'아마미 하루카';}
        &.chihaya:after {content:'키사라기 치하야';}
        &.miki:after {content:'호시이 미키';}
        
        
        
        
        
        
        img {width:7rem;}
      }
    }
  }
  .idolProfileContainer {display:inline-block;vertical-align:top;width:calc((100% - 5rem) /3);min-height:660px;margin:10px 10px 0;
    .idolProfile {width:100%;background:#fff;@include borderRadius(6px);
      &:not(:last-child) {margin-bottom:10px;}
      table {width:100%;}
      &.typeA {height:180px;
        img {display:block;width:12rem;margin:0 auto;}
      }
      &.typeB {height:310px;}
      &.typeC {height:150px;
        img {display:block;width:10rem;margin:0 auto;padding-top:7px;}
      }
      &.typeD {height:110px;}
      &.typeE {height:540px;
        table {
          th img {width:100px;}
          td {vertical-align:middle;}
        }
      }
      &.typeF {height:660px;overflow-y: auto;}
    }
  } 
}