<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JilMunSu - 공통 컴포넌트</title>
  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/devTool.js"></script>
  <script src="../js/wai-aria.ui.js/wai-aria.ui.es5.js"></script>
  <script src="../js/wai-aria.ui.js/nuli.autocomplete.es5.js"></script>
  <script src="../js/wai-aria.ui.js/jstree.min.js"></script>
  <link rel="stylesheet" href="../css/font.css">
  <link rel="stylesheet" href="../css/main.min.css">
  <script>
    $(document).ready(function(){
      $('.component table th').not('.colorStyle th').each(function(index){
        $(this).attr('id', 'menu' + index);
      });
    });
  </script>
</head>
<body>
  <div class="component">
    <header>
      <h1>▶ 공통 컴포넌트 정의 ◀</h1>
    </header>
    <table>
      <tr>
        <th>TEXT STYLE</th>
        <td class="textStyle">
          <h2>기본적인 폰트 - Maplestory Light, 14px = 1rem</h2>
          <ul>
            <li><span>abcdefghijklmnopqrstuvwxyz</span></li>
            <li><span class="uppercase">abcdefghijklmnopqrstuvwxyz</span></li>
            <li><span>123456790</span></li>
            <li><span>가나다라마바사아자차카타파하</span></li>
          </ul>
          <h2>기본적인 폰트 - Maplestory Bold, 14px = 1rem</h2>
          <ul>
            <li><span class="ffMapleB">abcdefghijklmnopqrstuvwxyz</span></li>
            <li><span class="ffMapleB uppercase">abcdefghijklmnopqrstuvwxyz</span></li>
            <li><span class="ffMapleB">123456790</span></li>
            <li><span class="ffMapleB">가나다라마바사아자차카타파하</span></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>COLOR STYLE</th>
        <td class="colorStyle">
          <h2>색상표</h2>
          <table>
            <tr>
              <th>컬러명</th>
              <th>컬러코드</th>
              <th>미리보기</th>
            </tr>
            <tr>
              <td>mainColor</td>
              <td>#ECE6CC</td>
              <td class="mainColor"></td>
            </tr>
            <tr>
              <td>baseColor</td>
              <td>#C8BA7B</td>
              <td class="baseColor"></td>
            </tr>
            <tr>
              <td>accentColor</td>
              <td>#A5923C</td>
              <td class="accentColor"></td>
            </tr>
            <tr>
              <td>blackColor</td>
              <td>#121212</td>
              <td class="blackColor"></td>
            </tr>
            <tr>
              <td>grayColor</td>
              <td>#BBBBBB</td>
              <td class="grayColor"></td>
            </tr>
            <tr>
              <td>whiteColor</td>
              <td>#FAF9F7</td>
              <td class="whiteColor"></td>
            </tr>
            <tr>
              <td>redColor</td>
              <td>#C02325</td>
              <td class="redColor"></td>
            </tr>
            <tr>
              <td>greenColor</td>
              <td>#23C05F</td>
              <td class="greenColor"></td>
            </tr>
            <tr>
              <td>blueColor</td>
              <td>#2363C0</td>
              <td class="blueColor"></td>
            </tr>

          </table>
        </td>
      </tr>
      <tr>
        <th>BUTTON STYLE</th>
        <td class="buttonStyle">
          <h2>일반적인 버튼 디자인</h2>
          <ul>
            <li>
              <button class="btnGenA sizeL">LARGE</button>
              <button class="btnGenA sizeM">MED</button>
              <button class="btnGenA sizeS">SML</button>
              <button class="btnGenA sizeXS">XS</button>
            </li>
            <li>
              <button class="btnGenB" id="btnGoTop" onclick="goTop()">맨 위로</button>
            </li>
          </ul>
          <h2>토글 버튼 디자인</h2>
          <ul>
            <li>
              <button class="btnToggleA" id="toggleTheme">다크모드</button>
            </li>
            <li>
              <button class="btnToggleB" aria-pressed="false"></button>
            </li>
          </ul>
          <h2>확장형 버튼 디자인</h2>
          <ul>
            <li>
              <button class="btnExpanA" aria-expanded="false" aria-controls="expanded-example">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptate.</button>
              <div id="expanded-example" style="display:none">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, a.</div>
            </li>
          </ul>
          <h2>네비게이션 버튼 디자인</h2>
          <div class="quickMenu">
            <ul>
              <li class="quick typeA"><button onclick="moveSC('0')">first Menu</button></li>
              <li class="quick typeB"><button onclick="moveSC('1')">second Menu</button></li>
              <li class="quick typeC"><button onclick="moveSC('2')">third Menu</button></li>
              <li class="quick typeD"><button onclick="moveSC('3')">fourth Menu</button></li>
            </ul>
          </div>
          <button class="hamburgerMenu" aria-pressed="false"></button>
          <div class="hamMenu"></div>
        </td>
      </tr>
      <tr>
        <th>INPUT STYLE</th>
        <td class="inputStyle">
          <h2>체크박스</h2>
          <ul role="group" aria-labelledby="checkBox01" class="checkForm">
          	<li role="none"><span role="checkbox" aria-checked="false">chk01</span></li>
          	<li role="none"><span role="checkbox" aria-checked="false">chk02</span></li>
          	<li role="none"><span role="checkbox" aria-checked="false">chk03</span></li>
          	<li role="none"><span role="checkbox" aria-checked="false">chk04</span></li>
          </ul>
          <h2>체크박스 - 전체선택</h2>
          <div role="group" aria-labelledby="checkBox02" class="checkForm extan">
          	<span role="checkbox" aria-checked="false" aria-controls="chk01 chk02 chk03 chk04" tabindex="0" class="allChk">전체 선택</span>
          	<ul role="none">
          		<li role="none"><span id="chk01" role="checkbox" aria-checked="false" tabindex="0">chk01</span></li>
          		<li role="none"><span id="chk02" role="checkbox" aria-checked="false" tabindex="0">chk02</span></li>
          		<li role="none"><span id="chk03" role="checkbox" aria-checked="false" tabindex="0">chk03</span></li>
          		<li role="none"><span id="chk04" role="checkbox" aria-checked="false" tabindex="0">chk04</span></li>
          	</ul>
          </div>
          <h2>라디오 버튼</h2>
          <ul role="radiogroup" aria-labelledby="radioBox" class="radioForm">
          	<li role="none"><span role="radio" aria-checked="false" tabindex="0">rdo01</span></li>
          	<li role="none"><span role="radio" aria-checked="false" tabindex="0">rdo02</span></li>
          	<li role="none"><span role="radio" aria-checked="false" tabindex="0">rdo03</span></li>
          </ul>
          <h2>선택 버튼</h2>
          <div class="selectWrap">
            <button aria-haspopup="listbox" aria-controls="liSort" aria-expanded="false" class="selectForm">selectBox</button>
            <ul id="liSort" role="listbox" aria-labelledby="selectBox" style="display:none">
              <li id="liSort00" role="option" aria-selected="true" tabindex="0">selectBox</li>
              <li id="liSort01" role="option" aria-selected="false" tabindex="0">sel01</li>
              <li id="liSort02" role="option" aria-selected="false" tabindex="0">sel02</li>
              <li id="liSort03" role="option" aria-selected="false" tabindex="0">sel03</li>
              <li id="liSort04" role="option" aria-selected="false" tabindex="0">sel04</li>
            </ul>
          </div>
          <h2>에러 메시지</h2>
          <label for="input_email">이메일</label>
          <input type="text" aria-describedby="error_msg" aria-invalid="false" />
          <div role="alert" id="error_msg" style="display:none">이메일 형식이 아닙니다.</div> 
          <h2>슬라이드</h2>
          <div class="aria_ui">
            <div id="slider-wrap" class="slider">
              <!-- 프로그래스 바 -->
              <div id="slider-percent" class="slider_percent" style="width:85px;"></div>
              <!-- 슬라이드 조절 버튼 -->
              <div id="slider-drag" class="btn_state" draggable="true" role="slider" aria-valuemin="0" aria-valuenow="20" aria-valuemax="100" aria-valuetext="0" aria-orientation="horizontal" aria-label="점수" tabindex="0" style="left:80px;">
              </div>
            </div>
            <span id="slider-num" class="slider_num" aria-hidden="true">20</span>
          </div>
        </td>
      </tr>
      <tr>
        <th>UI STYLE</th>
        <td class="inputStyle">
          <h2>탭메뉴 디자인</h2>
          <ul role="tablist" class="tabs">
            <li role="none"><a href="#" role="tab" aria-selected="true" aria-controls="tab_01">Tab1</a></li>
            <li role="none"><a href="#" role="tab" aria-selected="false" aria-controls="tab_02">Tab2</a></li>
            <li role="none"><a href="#" role="tab" aria-selected="false" aria-controls="tab_03">Tab3</a></li>
          </ul>
          <div id="tab_01" class="tabContent" role="tabpanel" aria-labelledby="tabContA" tabindex="0">첫번째 탭</div>
          <div id="tab_02" class="tabContent" role="tabpanel" aria-labelledby="tabContB" tabindex="0" style="display:none">두번째 탭</div>
          <div id="tab_03" class="tabContent" role="tabpanel" aria-labelledby="tabContC" tabindex="0" style="display:none">세번째 탭</div>
        </td>
      </tr>
      <tr>
        <th>POPUP STYLE</th>
        <td class="popupStyle"></td>
      </tr>
      <tr>
        <th>개발자 도구</th>
        <td class="devTool">
          <h2>REM 계산기</h2>
          <div class="remCal">
            <input type="number" role="form" class="textArea usePx" placeholder="사용하려는 값"/><span>px</span>
            <input type="number" role="form" class="textArea perPx" placeholder="최상위 부모값" value="14"/><span>px</span>
            <button id="remResult" role="search" class="btnGenA sizeXS">계산</button>
            <div>결과: <div class="result"></div>rem</div>
          </div>
        </td>
      </tr>
    </table>
    <footer>
      <div class="copyright">
        <p>본 사이트는 상업적 목적이 아닌 개인 포트폴리오 사이트로 제작되었습니다.</p>
        <span>Copyright 2022. SangHyeuk Lee. All rights reserved.</span>
      </div>
    </footer>
  </div>
</body>
</html>