<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JilMunSu - 공통 컴포넌트</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
  <link rel="manifest" href="../js/manifest.json">
  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/devTool.js"></script>
  <link rel="stylesheet" href="../css/font.css">
  <link rel="stylesheet" href="../css/main.min.css">
  <script>
    $(document).ready(function(){
      // 퀵메뉴 번호 생성
      $('.component table th').not('.colorStyle th').each(function(index){
        $(this).attr('id', 'menu' + index);
      });
    });
  </script>
</head>
<body>
  <div class="component">
    <header>
      <h1>▶ 공통 컴포넌트 정의 ◀</h1>
    </header>
    <table>
      <tr>
        <th>TEXT STYLE</th>
        <td class="textStyle">
          <h2>기본적인 폰트 - Maplestory Light, 14px = 1rem</h2>
          <ul>
            <li><span>abcdefghijklmnopqrstuvwxyz</span></li>
            <li><span class="uppercase">abcdefghijklmnopqrstuvwxyz</span></li>
            <li><span>123456790</span></li>
            <li><span>가나다라마바사아자차카타파하</span></li>
          </ul>
          <h2>기본적인 폰트 - Maplestory Bold, 14px = 1rem</h2>
          <ul>
            <li><span class="ffMapleB">abcdefghijklmnopqrstuvwxyz</span></li>
            <li><span class="ffMapleB uppercase">abcdefghijklmnopqrstuvwxyz</span></li>
            <li><span class="ffMapleB">123456790</span></li>
            <li><span class="ffMapleB">가나다라마바사아자차카타파하</span></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>COLOR STYLE</th>
        <td class="colorStyle">
          <h2>색상표</h2>
          <table>
            <tr>
              <th>컬러명</th>
              <th>컬러코드</th>
              <th>미리보기</th>
            </tr>
            <tr>
              <td>mainColor</td>
              <td>#ECE6CC</td>
              <td class="mainColor"></td>
            </tr>
            <tr>
              <td>baseColor</td>
              <td>#C8BA7B</td>
              <td class="baseColor"></td>
            </tr>
            <tr>
              <td>accentColor</td>
              <td>#A5923C</td>
              <td class="accentColor"></td>
            </tr>
            <tr>
              <td>blackColor</td>
              <td>#121212</td>
              <td class="blackColor"></td>
            </tr>
            <tr>
              <td>grayColor</td>
              <td>#BBBBBB</td>
              <td class="grayColor"></td>
            </tr>
            <tr>
              <td>whiteColor</td>
              <td>#FAF9F7</td>
              <td class="whiteColor"></td>
            </tr>
            <tr>
              <td>redColor</td>
              <td>#C02325</td>
              <td class="redColor"></td>
            </tr>
            <tr>
              <td>greenColor</td>
              <td>#23C05F</td>
              <td class="greenColor"></td>
            </tr>
            <tr>
              <td>blueColor</td>
              <td>#2363C0</td>
              <td class="blueColor"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <th>BUTTON STYLE</th>
        <td class="buttonStyle">
          <h2>일반적인 버튼 디자인</h2>
          <ul>
            <li>
              <button class="btnGen typeA sizeL">LARGE</button>
              <button class="btnGen typeA sizeM">MED</button>
              <button class="btnGen typeA sizeS">SML</button>
              <button class="btnGen typeA sizeXS">XS</button>
            </li>
            <li>
              <button class="btnGen typeB noText" id="btnGoTop" onclick="goTop()">맨 위로</button>
            </li>
          </ul>
          <h2>토글 버튼 디자인</h2>
          <ul>
            <li>
              <button class="btnToggle typeA">BTN</button>
              <button class="btnToggle typeA noText">BTN</button>
            </li>
            <li>
              <button class="btnToggle typeB">BTN</button>
              <button class="btnToggle typeB noText">BTN</button>
            </li>
          </ul>
          <h2>확장형 버튼 디자인</h2>
          <ul>
            <li>
              <button class="btnExpan typeA">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptate.</button>
              <div style="display:none">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, a.</div>
            </li>
          </ul>
          <h2>네비게이션 버튼 디자인</h2>
          <div class="quickMenu">
            <ul>
              <li class="quick typeA"><button onclick="moveSC('0')">first Menu</button></li>
              <li class="quick typeB"><button onclick="moveSC('1')">second Menu</button></li>
              <li class="quick typeC"><button onclick="moveSC('2')">third Menu</button></li>
              <li class="quick typeD"><button onclick="moveSC('3')">fourth Menu</button></li>
            </ul>
          </div>
          <button class="btnToggle hamburgerMenu"></button>
          <div class="hamMenu">
            <div class="titleArea">환경설정</div>
            <ul>
              <li>
                <a href="../index.html">홈으로</a>
              </li>
              <li>
                <a href="javascript:history.back();" id="backPage">뒤로가기</a>
              </li>
              <li>
                <button id="toggleTheme">다크모드 -<span>OFF</span></button>
              </li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <th>INPUT STYLE</th>
        <td class="inputStyle">
          <h2>체크박스</h2>
          <ul class="checkForm">
            <li>
              <input id="check01" type="checkbox" name="checkTypeA">
              <label for="check01">chk01</label>
            </li>
            <li>
              <input id="check02" type="checkbox" name="checkTypeA">
              <label for="check02">chk02</label>
            </li>
            <li>
              <input id="check03" type="checkbox" name="checkTypeA">
              <label for="check03">chk03</label>
            </li>
            <li>
              <input id="check04" type="checkbox" name="checkTypeA">
              <label for="check04">chk04</label>
            </li>
          </ul>
          <h2>체크박스 - 전체선택</h2>
          <ul class="checkForm allChk">
            <li>
              <input id="checkAll" class="checkAlls" type="checkbox">
              <label for="checkAll">전체선택</label>
            </li>
            <li>
              <input id="checkA01" type="checkbox" name="checkTypeB">
              <label for="checkA01">chk01</label>
            </li>
            <li>
              <input id="checkA02" type="checkbox" name="checkTypeB">
              <label for="checkA02">chk02</label>
            </li>
            <li>
              <input id="checkA03" type="checkbox" name="checkTypeB">
              <label for="checkA03">chk03</label>
            </li>
            <li>
              <input id="checkA04" type="checkbox" name="checkTypeB">
              <label for="checkA04">chk04</label>
            </li>
          </ul>
          <ul class="checkForm allChk">
            <li>
              <input id="checkAll1" class="checkAlls" type="checkbox">
              <label for="checkAll1">전체선택</label>
            </li>
            <li>
              <input id="checkA011" type="checkbox" name="checkTypeB">
              <label for="checkA011">chk01</label>
            </li>
            <li>
              <input id="checkA021" type="checkbox" name="checkTypeB">
              <label for="checkA021">chk02</label>
            </li>
            <li>
              <input id="checkA031" type="checkbox" name="checkTypeB">
              <label for="checkA031">chk03</label>
            </li>
            <li>
              <input id="checkA041" type="checkbox" name="checkTypeB">
              <label for="checkA041">chk04</label>
            </li>
          </ul>
          <h2>라디오 버튼</h2>
          <ul class="radioForm">
            <li>
              <input id="radio01" type="radio" name="radioTypeA">
              <label for="radio01">radio01</label>
            </li>
            <li>
              <input id="radio02" type="radio" name="radioTypeA">
              <label for="radio02">radio02</label>
            </li>
            <li>
              <input id="radio03" type="radio" name="radioTypeA">
              <label for="radio03">radio03</label>
            </li>
          </ul>
          <h2>선택 버튼</h2>
          <select class="selectForm">
            <option value="">선택하세요</option>
            <option value="">sel01</option>
            <option value="">sel02</option>
            <option value="">sel03</option>
            <option value="">sel04</option>
          </select>
          <h2>그 외</h2>
          <input type="text">
          <input type="password">
          <input type="file">
          <input type="url">
          <input type="search">
          <input type="tel">
          <input type="email">
          <input type="time">
          <input type="number">
        </td>
      </tr>
      <tr>
        <th>TABLE STYLE</th>
        <td class="tableStyle">
          <h2>테이블 디자인</h2>
          <table class="basicTable">
            <thead>
              <tr>
                <th colspan="2">제목</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>머리행</th>
                <td>데이터</td>
              </tr>
              <tr>
                <th>머리행</th>
                <td>데이터</td>
              </tr>
              <tr>
                <th>머리행</th>
                <td>데이터</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <th>UI STYLE</th>
        <td class="inputStyle">
          <h2>탭메뉴 디자인</h2>
          <ul class="tabs">
            <li><span class="tabMenu current" data-tab="tab01" tabindex="0">tab01</span></li>
            <li><span class="tabMenu" data-tab="tab02" tabindex="0">tab02</span></li>
            <li><span class="tabMenu" data-tab="tab03" tabindex="0">tab03</span></li>
          </ul>
          <div id="tab01" class="tabContent current">첫번째 탭</div>
          <div id="tab02" class="tabContent">두번째 탭</div>
          <div id="tab03" class="tabContent">세번째 탭</div>
        </td>
      </tr>
      <tr>
        <th>POPUP STYLE</th>
        <td class="popupStyle">
          <button class="btnGen typeA sizeM popupOpen" name="popA">일반형</button>
          <button class="btnGen typeA sizeM popupOpen" name="popB">전체화면</button>
        </td>
      </tr>
      <tr>
        <th>개발자 도구</th>
        <td class="devTool">
          <h2>REM 계산기</h2>
          <div class="remCal">
            <input type="number" role="form" class="textArea usePx" placeholder="사용하려는 값"/><span>px</span>
            <input type="number" role="form" class="textArea perPx" placeholder="최상위 부모값" value="14"/><span>px</span>
            <button id="remResult" role="search" class="btnGen typeA sizeXS">계산</button>
            <div>결과: <div class="result"></div>rem</div>
          </div>
          <div class="manga">
            <input type="file" class="inputImgs" multiple webkitdirectory/>
            <input type="file" class="inputImgs" multiple/>
            <div class="preview">
              <h2>이미지 미리보기</h2>
              <div class="imgsWrap">

              </div>
            </div>
            <div class="fullScreen">

            </div>
          </div>
        </td>
      </tr>
    </table>
    <footer>
      <div class="copyright">
        <p>본 사이트는 상업적 목적이 아닌 개인 포트폴리오 사이트로 제작되었습니다.</p>
        <span>Copyright 2022. SangHyeuk Lee. All rights reserved.</span>
      </div>
    </footer>
  </div>

  <!-- Popup -->
  <div class="popWrap">
    <div class="popup typeA popA" name="popA">
      <button class="btnGen typeA sizeM popCloseBtn">close</button>
    </div>
    <div class="popup typeB popB" name="popB">
      <button class="btnGen typeA sizeM popCloseBtn">close</button>
    </div>
  </div>
  <!-- //Popup -->
</body>
</html>