<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
  <link rel="manifest" href="../../js/manifest.json">
  <script src="../../js/jquery-3.6.0.min.js"></script>
  <script src="../../js/common.js"></script>
  <link rel="stylesheet" href="../../css/font.css">
  <link rel="stylesheet" href="../../css/main.min.css">
  <script> 
    $(document).ready(function(){
      //
    });
  </script> 
  <title>THEiDOLMASTER</title>
</head>
<body>
  <div class="wrap">
    <div class="contain">
      <div class="subPage iMASPage">
        <!-- 햄버거 메뉴 -->
        <button class="btnToggle hamburgerMenu"></button>
        <div class="hamMenu">
          <div class="titleArea">환경설정</div>
          <ul>
            <li>
              <a href="../..//index.html">홈으로</a>
            </li>
            <li>
              <a href="javascript:history.back();" id="backPage">뒤로가기</a>
            </li>
            <li>
              <button id="toggleTheme">다크모드 -<span>OFF</span></button>
            </li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <!-- //햄버거 메뉴 -->
        <h1>아이돌마스터 스탈릿 시즌 공략법</h1>
        <!-- 빠른이동 -->
        <div class="content nav">
          <table class="basicTable quick">
            <thead>
              <tr>
                <th colspan="2">빠른이동</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>시스템</th>
                <td>
                  <span>프로듀스타임</span>
                  <span>프리타임</span>
                  <span>라이브</span>
                </td>
              </tr>
              <tr>
                <th>공략</th>
                <td>
                  <span>월별 특징</span>
                  <span>추천 조합</span>
                </td>
              </tr>
              <tr>
                <th>선택지</th>
                <td>
                  <span>단결 커뮤</span>
                  <span>인연 커뮤 & 영업</span>
                </td>
              </tr>
              <tr>
                <th>그 외</th>
                <td>
                  <span>아이돌</span>
                  <span>파라미터</span>
                  <span>스킬</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- //빠른이동 -->
        <!-- 선택지 -->
        <div class="content">
          <ul class="tabs">
            <li><span class="tabMenu current" data-tab="tab01" tabindex="0">765AS</span></li>
            <li><span class="tabMenu" data-tab="tab02" tabindex="0">신데렐라 걸즈</span></li>
            <li><span class="tabMenu" data-tab="tab03" tabindex="0">밀리언 라이브</span></li>
            <li><span class="tabMenu" data-tab="tab04" tabindex="0">샤이니 컬러즈</span></li>
            <li><span class="tabMenu" data-tab="tab05" tabindex="0">961 & 코하쿠</span></li>
          </ul>
          <div id="tab01" class="tabContent current">
            <ul class="idolTabs">
              <li><span class="idolTabMenu haruka" data-tab="iTab01" tabindex="0">
                <img src="../../images/theIdolMaster/char/Haruka_Amami.png" alt="아마미 하루카 이미지">
              </span></li>
              <li><span class="idolTabMenu chihaya" data-tab="iTab02" tabindex="0">
                <img src="../../images/theIdolMaster/char/Chihaya_Kisaragi.png" alt="키사라기 치하야 이미지">
              </span></li>
              <li><span class="idolTabMenu miki" data-tab="iTab03" tabindex="0">
                <img src="../../images/theIdolMaster/char/Miki_Hoshii.png" alt="호시이 미키 이미지">
              </span></li>
            </ul>
            <div id="iTab01" class="tabContent current">
              <div class="idolProfileContainer">
                <div class="idolProfile typeA">
                  <img src="../../images/theIdolMaster/char/Haruka_Amami.png" alt="아마미 하루카 이미지">
                </div>
                <div class="idolProfile typeB">
                  <table class="basicTable">
                    <thead>
                      <tr>
                        <th colspan="2">아마미 하루카</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>나이</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>생일</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>혈액형</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>키</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>몸무게</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>BWM</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>출신지</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>성우</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>취미</th>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="idolProfile typeC">
                  <img src="../../images/theIdolMaster/char/Haruka_Amami_Sign.png" alt="">
                </div>
              </div>
              <div class="idolProfileContainer">
                <div class="idolProfile typeD">
                  <table class="basicTable">
                    <thead>
                      <tr>
                        <th colspan="2">파라미터</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Vo.</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>Da.</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>Vi.</th>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="idolProfile typeE">
                  <table class="basicTable">
                    <thead>
                      <tr>
                        <th colspan="2">가창 악곡</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>
                          <img src="../../images/theIdolMaster/song/SpreddTheWings.png" alt="">
                        </th>
                        <td>제목</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="idolProfileContainer">
                <div class="idolProfile typeF">
                  <table class="basicTable" tabindex="0">
                    <thead>
                      <tr>
                        <th colspan="2">인연 커뮤니케이션 & 영업 선택지</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>인연 01</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 02</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 03</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 04</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 05</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 06</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 07</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 08</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 09</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 10</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 11</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 12</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 13</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 14</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 15</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 16</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 17</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 18</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 19</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 20</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>영업 01</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>영업 02</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>영업 03</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>영업 03</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>영업 03</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>영업 03</th>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="iTab02" class="tabContent">
              <div class="idolProfileContainer">
                <div class="idolProfile typeA">
                  <img src="../../images/theIdolMaster/char/Chihaya_Kisaragi.png" alt="">
                </div>
                <div class="idolProfile typeB">
                  <table class="basicTable">
                    <thead>
                      <tr>
                        <th colspan="2">키사라기 치하야</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>나이</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>생일</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>혈액형</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>키</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>몸무게</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>BWM</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>출신지</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>성우</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>취미</th>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="idolProfile typeC">
                  <img src="../../images/theIdolMaster/char/Haruka_Amami_Sign.png" alt="">
                </div>
              </div>
              <div class="idolProfileContainer">
                <div class="idolProfile typeD">
                  <table class="basicTable">
                    <thead>
                      <tr>
                        <th colspan="2">파라미터</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Vo.</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>Da.</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>Vi.</th>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="idolProfile typeE">
                  <table class="basicTable">
                    <thead>
                      <tr>
                        <th colspan="2">가창 악곡</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>
                          <img src="../../images/theIdolMaster/song/SpreddTheWings.png" alt="">
                        </th>
                        <td>제목</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="idolProfileContainer">
                <div class="idolProfile typeF">
                  <table class="basicTable">
                    <thead>
                      <tr>
                        <th colspan="2">인연 커뮤니케이션 & 영업 선택지</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>인연 01</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 02</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 03</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 04</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 05</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 06</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 07</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 08</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 09</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 10</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 11</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 12</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 13</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 14</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 15</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 16</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 17</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 18</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 19</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>인연 20</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>영업 01</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>영업 02</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>영업 03</th>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="iTab03" class="tabContent">
              asf
            </div>
          </div>
          <div id="tab02" class="tabContent">두번째 탭</div>
          <div id="tab03" class="tabContent">세번째 탭</div>
          <div id="tab04" class="tabContent">세번째 탭</div>
          <div id="tab05" class="tabContent">세번째 탭</div>
        </div>
        <!-- //선택지 -->
      </div>
    </div>
  </div>
</body>
</html>