<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../js/jquery-3.6.0.min.js"></script>
  <script src="../../js/common.js"></script>
  <link rel="stylesheet" href="../../css/font.css">
  <link rel="stylesheet" href="../../css/main.min.css">
  <link rel=" shortcut icon" href=".ico">
  <link rel="icon" href=".ico">
  <title>THEiDOLMASTER</title>
</head>
<body>
  <div class="wrap">
    <div class="contain">
      <div class="iMASPage">
        <h1>아이돌마스터 스탈릿 시즌 공략법</h1>
        <div class="content nav">
          <table>
            <tr>
              <th colspan="2">빠른이동</th>
            </tr>
            <tr>
              <th>시스템</th>
              <td>
                <span>프로듀스타임</span>
                <span>프리타임</span>
                <span>라이브</span>
              </td>
            </tr>
            <tr>
              <th>공략</th>
              <td>
                <span>월별 특징</span>
                <span>추천 조합</span>
              </td>
            </tr>
            <tr>
              <th>선택지</th>
              <td>
                <span>단결 커뮤</span>
                <span>인연 커뮤 & 영업</span>
              </td>
            </tr>
            <tr>
              <th>그 외</th>
              <td>
                <span>아이돌</span>
                <span>파라미터</span>
                <span>스킬</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">tab1</li>
            <li class="tab-link" data-tab="tab-2">tab2</li>
            <li class="tab-link" data-tab="tab-3">tab3</li>
          </ul>
        
          <div id="tab-1" class="tab-content current"></div>
          <div id="tab-2" class="tab-content">
            <table class="contTable">
              <tr>
                <th colspan="2">아마미 하루카</th>
              </tr>
              <tr>
                <th>번호</th>
                <th>선택지</th>
              </tr>
              <tr>
                <td>NO.001<span>그날보다 성장한 모습을</span></td>
                <td>자신감이 생겼네</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </table>

            <table>
              <tr>
                <th colspan="2"></th>
              </tr>
              <tr>
                <th></th>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
          <div id="tab-3" class="tab-content"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>