<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../js/jquery-3.6.0.min.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/wai-aria.ui.js/wai-aria.ui.es5.js"></script>
  <script src="../../js/wai-aria.ui.js/nuli.autocomplete.es5.js"></script>
  <script src="../../js/wai-aria.ui.js/jstree.min.js"></script>
  <link rel="stylesheet" href="../../css/font.css">
  <link rel="stylesheet" href="../../css/main.min.css">
  <link rel=" shortcut icon" href=".ico">
  <link rel="icon" href=".ico">
  <title>THEiDOLMASTER</title>
</head>
<body>
  <div class="wrap">
    <div class="contain">
      <div class="iMASPage">
        <h1>아이돌마스터 스탈릿 시즌 공략법</h1>
        <div class="content nav">
          <table>
            <tr>
              <th colspan="2">빠른이동</th>
            </tr>
            <tr>
              <th>시스템</th>
              <td>
                <span>프로듀스타임</span>
                <span>프리타임</span>
                <span>라이브</span>
              </td>
            </tr>
            <tr>
              <th>공략</th>
              <td>
                <span>월별 특징</span>
                <span>추천 조합</span>
              </td>
            </tr>
            <tr>
              <th>선택지</th>
              <td>
                <span>단결 커뮤</span>
                <span>인연 커뮤 & 영업</span>
              </td>
            </tr>
            <tr>
              <th>그 외</th>
              <td>
                <span>아이돌</span>
                <span>파라미터</span>
                <span>스킬</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <ul role="tablist" class="tabs">
            <li role="none"><a href="#" role="tab" aria-selected="true" aria-controls="tab01">아마미 하루카</a></li>
            <li role="none"><a href="#" role="tab" aria-selected="false" aria-controls="tab02">Tab2</a></li>
            <li role="none"><a href="#" role="tab" aria-selected="false" aria-controls="tab03">Tab3</a></li>
          </ul>
          <div id="tab01" class="tabContent" role="tabpanel" aria-labelledby="tabContA" tabindex="0">
            <table>
              <tr>
                <th colspan="2">아마미 하루카</th>
              </tr>
              <tr>
                <th>번호</th>
                <th>선택지</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
          <div id="tab02" class="tabContent" role="tabpanel" aria-labelledby="tabContB" tabindex="0" style="display:none">두번째 탭</div>
          <div id="tab03" class="tabContent" role="tabpanel" aria-labelledby="tabContC" tabindex="0" style="display:none">세번째 탭</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>